<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361086854733-oep10lonkdho54qighti0ia3rm2nugg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361086854733-oep10lonkdho54qighti0ia3rm2nugg9</string>
	<key>API_KEY</key>
	<string>AIzaSyDQcgCX09a0Vg9NJ0q1bWwfOopPuxYrBzc</string>
	<key>GCM_SENDER_ID</key>
	<string>361086854733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kakao-login-test</string>
	<key>PROJECT_ID</key>
	<string>sociallogintest-58854</string>
	<key>STORAGE_BUCKET</key>
	<string>sociallogintest-58854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361086854733:ios:b014a9b7a029b5188b9e04</string>
</dict>
</plist>